<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/checkoutPagamento.css">
    <title><img src="/img/Logo.png" alt="logomarca"></title>
</head>
<body>
    <header>
       <a href="/">
        <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <img src="/img/Logo.png" alt="logomarca"
        </div>    
                             
                    
    </header>


    <main>
        <h1>Checkout de Pagamento</h1>       
       
        
        <section class="pagamento">
            <p>Endereço  Pagamento</p>
            <p>Pagar com Pix</p>
            <p>Ver dados para pagamento com pix</p>
            <div class="item4"></div>
            <div class="item5"></div>
        </section>
        
        <a href="/">
            <p>Seu Carrinho</p>
            <img src="/img/Samambaia.png" alt="carrinho">
            <P>Samambaia no vaso</P>
            <p>Valor Total-- R$ 65,OO</p>
            <p>Frete--R$22,00</p>
        </main> 
 
       
    
       


</body>
</html>