<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>


<body>

    <header>
        <!-- LOGO DA Floricultura -->

        <div class="header" id="header">
            <div class="logo_header">
                <a href="/"> <img src="/img/Logo.png" class="img_logo_header" alt="LogoSite"></a>
            </div>
            <!--fim do LOGO  -->

            <!-- BOTOES DE LINK -->

            <div>
                
            </div>


    </header>
<main>

    <div id="login">
        <div>

            <input type="text" placeholder="Login">
        </div>
        <input type="text" placeholder="Senha">
        <div>

            <a href="/cadastro">Não é registrado? Crie uma conta</a>
        </div>

    </div>

</main>

    
    <div>
        
        <footer>
    
            <p><a href="/quemSomos.html/">About</a>
                <a href="/policy.html/">Privacy Policy</a> Disclaimer
            </p>
            <p>contato: floricultura@flor.com.br</p>
            <p>Copyright &copy; DigitalHouse.com</p>
    
        </footer>
    </div>

</body>


</html>