<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Five Garden</title>
  </head>

<!--Linka o arquivo style.css com o product.html-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!--                                           -->


    <!-- LOGO DA Floricultura -->

<div class="header" id="header">
  <div class="logo_header">
      <a href="/"> <img src="/img/Logo.png" class="img_logo_header" alt="LogoSite"></a>
  </div>
  <!--fim do LOGO  -->

  <!-- BOTOES DE LINK -->
  <div class="navigation_header">
      <a href="/product.html"class="active">Produtos</a>
      <a href="/quemSomos.html"class="active">Sobre Nós</a>
      <a href="/login.html"class="active">Entrar</a>
      <!--PLACEHOLDER--> 
       <a href="/"> <img src="" alt=""> </a>
       <input type="text" name="" id="" placeholder=" Pesquise produtos..">
       <button>Buscar</button>
       <a href=""> <img src="" alt="">
       <span></span>
       <!--FIM DO PLACEHOLDER-->
      <a href="/carrinho.html"><img src="/img/Carrinho.png"class="img_carrinho_header"></a>
  </div>
  <!-- FIM DOS BOTOES DE LINK -->
  
</header>

<body>

<div class="produtos">

    <section class="titleProduct">
      <h2>Título</h2>
    </section>

    <section class="sectionImage">
      <!--<div> <img src="../public/img/rosas_coloridas.jpg"> </div> Exemplo para chamar imagem-->
      <div>Box 1</div>
      <div>Box 2</div>
      <div>Box 3</div>
      <div>Box 4</div>
    </section>

    <section class="sectionDescription">
      <span>Valor: R$ 99</span>
      <p>
        Lindo arranjo de rosas para encantar quem você ama!
      </p>

      <span style="font-size: 10px">&#9711;</span>
    </section>

    <section>Cores</section>

    </div>

  </body>
</html>
