* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-green3: #597e64;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

main {

    padding: 80px 130px;
    display: grid;
    gap: 100px;
    grid-template-areas: "aside section";
    grid-template-columns: 289px 1fr 10px;
}

/*ASIDE DA ESQUERDA*/

main>aside.esquerda {
    display: flex;
    flex-direction: column;
    grid-area: aside;
}

main>aside.esquerda a {
    font-size: 20px;
    color: var(--color-green3);
    /* margin-bottom: 10px; */
    text-decoration: none;
}

main>aside.esquerda a:hover {
    transform: scale(1.1);
}

main>aside.esquerda a,
a+a {
    padding-top: 24px;
    border-bottom: 1px solid var(--color-green3);
    border-radius: 0;
}

main>aside.esquerda .btn-logout {
    margin-top: 50px;
}

#user, #trolley,#phone,#heart,#flower,#rocket{
    width: 30px;
    margin-right: 10px;
}

/*SECTION DA DIREITA*/

main > section.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(80, 162, 130);
    border-radius: 10px;
    filter:opacity(0.9);
    grid-area: section;
    height: 340px;
}

main > section.direita h3{
    padding: 10px;
    margin-top: 20px;
}

